@import './fonts';
@import './vars';
@import './settings';
@import './classes';

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    font-family: $font-p, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2em;
    color: $color-p;
}

html,
body {
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}